body{
    width: 100vw;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(117, 117, 117);
}
.d1{
    background-color: aquamarine;
    width: 10%;
    height: 10%;
}